<div class="page-content product-page-content">
    <div class="product-module">
        <div class="page-header">
            <h1>产品详情配置</h1>
        </div>
        <div class="row mt-30">
            <div class="col-xs-12">
                <form class="form-horizontal product-form" role="form">
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-1">产品名称</label>
                        <div class="col-sm-9">
                            <input type="text" id="form-field-1" readonly
                                   value="<%= formDataList.productPO[0].productName %>">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-2">产品ID</label>
                        <div class="col-sm-9">
                            <input type="text" id="form-field-2" readonly
                                   value="<%= formDataList.productPO[0].productCode %>">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-3">年利率</label>
                        <div class="col-sm-9 input-form">
                            <span class="input-icon input-icon-right">
                                <input type="text" id="form-field-3"
                                       value="<%= formDataList.productPO[0].yearRate %>">
                                <em>%</em>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-4">总限额</label>
                        <div class="col-sm-9 input-form">
                            <span class="input-icon input-icon-right">
                                <input type="text" id="form-field-3"
                                       value="<%= formDataList.productPO[0].totalLimit %>">
                                <em class="hz">元</em>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-5">单笔金额下限</label>
                        <div class="col-sm-9 input-form">
                            <span class="input-icon input-icon-right">
                               <input type="text" id="form-field-5"
                                      value="<%= formDataList.productPO[0].singleDownLimit %>">
                                <em class="hz">元</em>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-6">单笔金额上限</label>
                        <div class="col-sm-9 input-form">
                            <span class="input-icon input-icon-right">
                               <input type="text" id="form-field-6"
                                      value="<%= formDataList.productPO[0].singleUpLimit %>">
                                <em class="hz">元</em>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-7">还款方式</label>
                        <div class="col-sm-9">
                            <input type="text" id="form-field-7" value="<%= formDataList.productPO[0].rateCalcMode %>">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-8">催收天数</label>
                        <div class="col-sm-9">
                            <input type="text" id="form-field-8" value="<%= formDataList.productPO[0].urgeDays %>">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-9">逾期月利率</label>
                        <div class="col-sm-9">
                            <input type="text" id="form-field-9"
                                   value="<%= formDataList.productPO[0].delayMonthRate %>">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-10">提前还款</label>
                        <div class="col-sm-9">
                            <input type="text" id="form-field-10"
                                   value="<%= formDataList.productPO[0].isAllowPriRepay %>">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-11">提前还款的天数</label>
                        <div class="col-sm-9">
                            <input type="text" id="form-field-11" value="<%= formDataList.productPO[0].priRepayDays %>">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-12">提前还款的违约金</label>
                        <div class="col-sm-9">
                            <input type="text" id="form-field-12"
                                   value="<%= formDataList.productPO[0].priViolateAmount %>">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right" for="form-field-13">订单关联号</label>
                        <div class="col-sm-9">
                            <input type="text" id="form-field-13" value="<%= formDataList.productPO[0].process_key %>">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="product-module">
        <div class="page-header">
            <h1>黑名单配置</h1>
        </div>

    </div>
</div>
<script>
//    $.ajax({
//        url: "/product/settings/formList",
//        type: "POST",
//        data: {productCode: "7"},
//        success: function (data) {
//            console.log(data);
//        }
//    });
</script>